@import url('./variables.css');

main.formularios .form-section {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--color-blanco);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem var(--box-shadow-color);
}

main.formularios .form-section h2 {
    margin-bottom: 1.5rem;
    color: black;
    text-align: center;
}

main.formularios .form-group {
    margin-bottom: 1rem;
}

main.formularios .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

main.formularios .form-group input,
main.formularios .form-group textarea,
main.formularios .form-group select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--light-gray);
    border-radius: 0.25rem;
    margin-bottom: 0.3125rem;
    font-size: 1rem;
    color: var(--color-texto);
}

main.formularios .form-group select {
    background-color: var(--color-blanco);
    appearance: none;
    background-image: url('../assets/down.png');
    background-repeat: no-repeat;
    background-position: right 0.625rem center;
    background-size: 1rem;
}

main.formularios .form-group select:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0.3125rem rgba(0, 121, 107, 0.5);
}

main.formularios .form-group input[type="checkbox"] {
    width: auto;
}

main.formularios textarea {
    resize: none;
}

main.formularios button[type="submit"] {
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--color-blanco);
    border: none;
    border-radius: 0.25rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

main.formularios button[type="submit"]:hover {
    background-color: var(--primary-hover-color);
}

@media (max-width: 768px) {
    main.formularios .form-section {
        padding: 1rem;
    }
}
